@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// variable declarations
$border-color: #d0d0d0;
$text-color: #333;
$hover-color: #00ddff;
$active-color: #DEB887;
$link-color: #666;

$heading-font: "Lora", serif;
$body-font: Arial, Helvetica, sans-serif;

// set breakpoints
$break-small: 525px;
$break-large: 1100px;

@mixin breakpoint($break) {
    @if $break ==large {
        @media (min-width: $break-large) { @content; }
    } @else if $break ==small {
        @media (min-width: $break-small) { @content; }
    }
}

body {
    font-family: $body-font;
    /* the instructions said to make the body copy $text-color, but the 
    mockups had black text for the body.  I ended up making it $text-color, 
    but could easily remove it if I misinterpreted it. */
    color: $text-color;
}

h1, h2, li a {
    font-family: $heading-font;
}

h1 {
    font-size: 3.1em;
    text-align: center;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

li {
    list-style: none;
    margin: 5px;

    a,
    a:visited {
        text-decoration: none;
        color: $link-color;
        text-transform: uppercase;
        font-weight: 500;
    }
}

h2 a, li a, p a {
    text-decoration: none;
    color: $link-color;

    &:hover { color: $hover-color; }
    &:active { color: $active-color; }
}

h2 {
    a {
        font-weight: 500;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    padding: 5px;

    @include breakpoint(small) {
        flex-direction: row;
        gap: 10px;
        justify-content: end;
    }
}

/* instructions did not indicate what the links in the book descriptions/headers 
should look like when hovered/active, so I made it the same as the nav links. */

.post-date {
    border-bottom: 2px solid $border-color;
    text-align: right;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

figure {
    margin: 0 auto;
}

.post-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

article {
    border-bottom: 2px solid $border-color;

    @include breakpoint(small) {
        display: flex;
        border: none;

        .post-date {
            border: none;
            flex-shrink: 0;
            flex: 2;
        }

        .post-content {
            border-left: 2px solid $border-color;
            border-bottom: 2px solid $border-color;
            flex: 6;
            padding: 15px;
        }
    }

    @include breakpoint(large) {
        .post-content {
            padding-left: 30px;
        }
    }
}
